body {
  background-color: rgb(245, 133, 255);
}

@font-face {
  font-family: fredoka_one
  src: url();
}

img {
  width: 50%;
  height: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

a {
  font-family: serif;
  display: block;
  padding: 8px;
  background-color: rgb(230, 161, 200);
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(124, 75, 255);
}

h1 {
  color: rgb(135, 105, 83);
  font-family: fantasy;
  font-size: 500%;
  justify-content: flex-start;
}

h2 {
  color: rgb(64, 48, 38);
  font-family: fantasy;
  font-size: 3em;
}

p {
  color: black;
  font-family: serif;
  font-size: 1.25em;
}
