body {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 80px 1fr 100px;
  grid-template-areas:
  "header header"
  "main aside"
  "footer footer";
  grid-gap: 30px;
  background-color: rgb(241, 186, 247);
}

#main_shadow {
  border: 3px solid;
  color: rgb(64, 48, 38);
  padding: 10px;
  box-shadow: 10px 10px;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#aside_shadow {
  border: 3px solid;
  color: rgb(64, 48, 38);
  padding: 10px;
  box-shadow: 7.5px 7.5px;
}

footer {
  grid-area: footer
}

.sr-only {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

img {
  width: 25vw;
  height: 50vh;
}

.thick-img-border {
    border-color: rgb(134, 19, 19);
    border-width: 7.5px;
    border-style: solid;
    border-radius: 12.5%;
  }

.main-nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: rgb(255, 170, 200);
}

.main-nav a {
  text-decoration: none;
  font-size: 2em;
  text-transform: capitalize;
  font-family: serif;
  color: black
}

.active {
  background-color: rgb(162, 128, 255);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

.clear{
  float: none;
  clear: both;
}

a {
  font-family: serif;
  display: block;
  padding: 8px;
  background-color: rgb(255, 170, 200);
}

li a {
  display: block;
  color: pink;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(162, 128, 255);
}

h1 {
  color: rgb(64, 48, 38);
  font-family: fantasy;
  font-size: 5em;
}

h2 {
  color: rgb(135, 105, 83);
  font-family: fantasy;
  font-size: 3em;
}

p {
  color: black;
  font-family: serif;
  font-size: 1.75em;
}

.mantra {
  font-family: serif;
  font-size: 1.75em;
  color: black;
  font-style: italic;
}
